<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
</head>
<body>

<div ng-controller="myCtrl as vm">

    <form ng-submit="vm.submitForm()" class="form-container">
        <div class="form-row">
            <label for="name">Nome:</label>
            <input type="text" id="name" ng-model="vm.formData.name" required>
        </div>

        <div class="form-row">
            <label for="password">Senha:</label>
            <input type="password" id="password" ng-model="vm.formData.password" required>
        </div>

        <div class="form-row">
            <label for="leader">Líder:</label>
            <select id="leader" ng-model="vm.formData.lider" ng-options="user.name for user in vm.colaboradores">
                <option value="">Selecione o Líder</option>
            </select>
        </div>

        <button type="submit">Salvar</button>
    </form>

    <div>
        <ul  class="side-by-side">
            <li style="padding-top: 11px"ng-repeat="colaborador in vm.listHierarchy">
                <div ng-include="'colaborador-template.html'" ng-init="currentColaborador=colaborador"></div>
            </li>
        </ul>

        <ul class="side-by-side" style="width: 50%; padding-top: 10px">
            <li style="padding-bottom: 9px" ng-repeat="colaborador in vm.flattenedList">
                <div class="barra-progresso-container">
                    <div class="barra-progresso"
                         ng-class="{ 'senha-fraca': colaborador.passwordScore < 25, 'senha-media': colaborador.passwordScore >= 25 && colaborador.passwordScore < 50, 'senha-boa': colaborador.passwordScore >= 50 && colaborador.passwordScore < 75, 'senha-otima': colaborador.passwordScore >= 75 }"
                         style="width: {{colaborador.passwordScore}}%; padding-left: 5px">{{vm.getAvaliacao(colaborador.passwordScore)}}  {{colaborador.passwordScore}}% </div>
                </div>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
